* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

header,
footer,
#contact {
  background-color: lightblue;
}

header {
  z-index: 1;
  position: fixed;
  width: 100%;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > nav a {
    margin: 0 10px;
  }
}

main {
  padding-top: 70px;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
}

p,
em {
  font-family: "Rajdhani", sans-serif;
}

a:hover {
  opacity: 75%;
}

form {
  display: flex;
  flex-direction: column;

  > * {
    resize: none;    
    padding: 1%;
  }

  > *:focus {
    outline: none;
  }

  > button {
    height: 32px;
    background-color: black;
    color: white;
  }

  > button:hover {
    opacity: 75%;
    cursor: pointer;
  }
}

.container {
  max-width: 1280px;
  width: 100vw;
  margin: 0 auto;
  padding: 1%;
}

.block-order {
  display: flex;
  max-width: 49%;
  background-color: lightgray;
  border: 1px solid #ffffff55;
  border-radius: 4px;
  position: relative;
  margin-bottom: 2%;
  align-items: center;

  > * {
    margin: 24px;
  }

  > h4 {
    position: absolute;
    top: -18px;
    left: -18px;
  }
}

.list-links {
  display: flex;
  flex-wrap: wrap;

  > a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > a img {
    max-width: 32px;
  }
}

#about .container {
  display: flex;
  justify-content: space-between;

  > * {
    max-width: 49%;
  }

  .content * {
    margin-bottom: 1%;
  }

  #partners {
    justify-content: space-around;
  }

  #partners img {
    max-width: 100px;
  }
}

#diff .content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1%;
  justify-content: space-between;
}

#depo .content {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  margin: 1% 0;

  > div {
    display: flex;
    min-width: 100%;
    background-color: lightblue;
    border: 1px solid #ffffff55;
    border-radius: 4px;
    margin-right: 2%;
    padding: 2%;
    align-items: center;
  }

  > div:first-child {
    animation: move-left 15s step-end infinite;
  }

  > div h4 {
    margin-bottom: 1%;
  }
}

#contact .content {
  display: flex;
  justify-content: space-between;

  > div {
    width: 33%;
  }

  > div * {
    margin: 2%;
  }
}

#contact-us {
  > a {
    font-size: small;
    width: 45%;
  }

  > a img {
    max-width: 16px;
  }
}

#follow-us a img {
  max-width: 48px;
}

@keyframes move-left {
  0% {
    margin-left: 0;
  }
  33% {
    margin-left: -102%;
  }
  66% {
    margin-left: -204%;
  }
  100% {
    margin-left: -306%;
  }
}

/* IPAD AIR */
@media screen and (max-width: 820px) {
  * {
    font-size: small;
  }

  main {
    padding-top: 30px;
  }

  #contact-us a {
    font-size: 12px;
  }
}

/* SURFACE DUO */
@media screen and (max-width: 540px) {
  img {
    max-width: 75px;
  }

  .block-order,
  .container {
    max-width: 100%;
  }

  #about .container {
    flex-direction: column;

    > img,
    .content {
      max-width: 100%;
    }

    #partners a img {
      max-width: 75px;
    }
  }

  #contact-us a {
    width: 100%;
  }

  #follow-us a img {
    max-width: 32px;
  }
}

/* IPHONE XR */
@media screen and (max-width: 414px) {
  header .container {
    flex-direction: column;

    > nav {
      margin-top: 2%;
    }
  }

  main {
    padding-top: 40px;
  }

  #contact-us {
    flex-direction: row;

    > a {
      width: 45%;
    }
  }

  #contact .content {
    flex-direction: column;

    > div {
      width: 100%;
    }
  }
}
